<div class="container">

    <div class="mt-5 col-md-4 col-sm-12 header">        
        <img src="../../assets/logo.png" alt="Logo" />
        <h3 class="mt-5 text-center">Confira o seu plano:</h3>
        <span class="fulano">fulano@cicrano.com.br</span>        
    </div>
    <form [formGroup]="selecPlano"> 
        <div class="row grid-planos" *ngFor="let plano of dadosPlanos">
            <div class="col-md-5 col-sm-12 mt-5 item-plano">
                <p class="title">Anual | {{ plano?.description }}</p>
                <p class="valor">De {{ plano?.fullPrice | currency: 'BRL' }} | Por {{ plano?.fullPrice - plano?.discountAmmount | currency: 'BRL' }} 
                    <span class="desconto">{{ plano?.discountPercentage == 0.1 ? '10%' : plano?.discountPercentage}}</span> 
                    <input type="radio" name="formaPagamento" [value]="plano.installments" formControlName="formaPagamento" (ngModelChange)="tipoPagamento($event)"/>
                </p>
                <p class="valorParcela" *ngIf="plano?.description == 'Parcelado'">10x de {{ (plano?.fullPrice - plano?.discountAmmount) / 10 | currency: 'BRL' }}</p>
            </div>
        </div>    

        <div class="col-md-5 col-sm-12 header">
            <p class="text-center mt-2">Sobre a cobrança <span class="info-cobranca" data-toggle="tooltip" data-bs-placement="right" title="Informações sobre a cobrança">?</span></p>
    
            <button type="button" class="btn btn-comprar" [disabled]="selecPlano.invalid" (click)="comprar()">Comprar</button>

        </div>
        

    </form>
</div>