<div class="container">
    <div class="mt-5">        
        <img src="../../assets/logo.png" alt="Logo" />
        <h3 class="mt-5">Confira o seu plano:</h3>
        <span class="fulano">fulano@cicrano.com.br</span>        
    </div>

    <div class="row">
        <div class="col-md-5 mt-5 item-plano">
            <p>Anual | À Vista</p>
            <p>De R$ 514,80 | Por R$ 436,90 <span class="desconto">-15%</span> <input type="radio" name="tipoPagamento" value="aVista"/></p>
            <p>10x de R$ 43,69/mês</p>          
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-5 mt-5 item-plano">
            <p>Anual | Parcelado</p>
            <p>De R$ 514,80 | Por R$ 479,90 <span class="desconto">-7%</span> <input type="radio" name="tipoPagamento" value="parcelado"/></p>
            <p>10x de R$ 47,99/mês</p>          
        </div>
    </div>
    
    <p>Sobre a cobrança <span class="info-cobranca">?</span></p>

    <button type="button" class="btn btn-comprar">Comprar</button>


 
</div>